 p {
            color: blue;
            background-color: red;
            height: 200px;
            width: 200px;
        }
        div {
            color: lawngreen;
            background-color: red;
            height: 100px;
            width: 300px;
        }
        .black {
           background-color: black;
        }
        pre {
            min-width: 500px;
            max-width: 800px;
            height: 400px;
            font-family: 'Roboto', sans-serif;
           background-color: blue;
        }